* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 15px;
  min-width: 320px !important;
  overflow-x: hidden !important;
}

body {
  width: 100%;
  min-width: 320px !important;
  line-height: 1.43;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  z-index: 11;
}

header .container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
}

header .container .nav {
  width: 100%;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  padding: 0 40px;
}

header .container .nav a {
  color: aliceblue;
}

header .container .nav a svg.scrolling-active .airbnb {
  fill: #ff385c !important;
  stroke: #ff385c !important;
}

header .container .nav .nav-list {
  max-width: 850px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10vw !important;
}

header .container .nav .nav-list li {
  padding: 0 17px;
  list-style-type: none;
  -webkit-transition: -webkit-transform 0.3 ease;
  transition: -webkit-transform 0.3 ease;
  transition: transform 0.3 ease;
  transition: transform 0.3 ease, -webkit-transform 0.3 ease;
}

header .container .nav .nav-list li a {
  color: aliceblue;
}

header .container .nav .nav-list li .under-txt {
  width: 18px;
  height: 2px;
  background-color: aliceblue;
  z-index: 2;
  margin: 5px auto;
  -webkit-transition: -webkit-transform 0.3 ease;
  transition: -webkit-transform 0.3 ease;
  transition: transform 0.3 ease;
  transition: transform 0.3 ease, -webkit-transform 0.3 ease;
}

header .container .nav .nav-list li:hover a {
  color: #dee1e6;
}

header .container .nav .nav-list li:hover .under-txt {
  color: #dee1e6;
  -webkit-transform: scale(0.25, 1);
          transform: scale(0.25, 1);
}

header .container .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .nav-right a {
  text-align: center;
  padding: auto;
  width: 130px;
  height: 42px;
  line-height: 42px;
}

header .container .nav-right .scrolling-active a {
  color: #000;
}

header .container .nav-right a:hover {
  width: 130px;
  height: 42px;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 25px;
  cursor: pointer;
}

header .container .nav-right .explor-icon {
  width: 40px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 19px;
}

header .container .nav-right .explor-icon:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 50%;
}

header .container .nav-right .user-menu-right:hover {
  cursor: pointer !important;
}

header .container .nav-right .user-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 30px;
  height: 42px;
  width: 77px;
  border: 1px solid #717171;
}

header .container .nav-right .user-menu-container .user-icon {
  width: 30px !important;
  height: 30px !important;
}

header .container .nav-right .user-menu-container .user-menu {
  width: 16px;
  height: 16px;
}

header .container .nav-right .user-dropdown {
  background-color: #fff;
  border-radius: 25px;
  width: 240px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 75px;
  right: 60px;
  display: none;
  -webkit-box-shadow: 0 0 5px 2px rgba(32, 32, 32, 0.11) !important;
          box-shadow: 0 0 5px 2px rgba(32, 32, 32, 0.11) !important;
}

header .container .nav-right .user-dropdown div {
  padding: 15px;
  font-size: 15px;
}

header .container .nav-right .user-dropdown .user-login {
  border-bottom: 0.5px solid #c2c2c2;
}

header .container .nav-right .user-dropdown .user-dropdown-first {
  font-weight: 600;
}

header .container .nav-right .user-dropdown .user-dropdown-first:hover {
  border-radius: 25px 25px 0 0;
}

header .container .nav-right .user-dropdown .user-dropdown-last:hover {
  border-radius: 0 0 25px 25px;
}

header .container .nav-right .user-dropdown div:hover {
  background-color: #f3f3f3;
}

header .container .nav-right .show {
  display: block !important;
}

.scrolling-active {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active a {
  color: #000;
}

.scrolling-active .airbnbIcon {
  fill: #ff385c;
}

.scrolling-active .ExplorIcon {
  fill: #000;
}

.scrolling-active .nav-host {
  color: #000 !important;
}

.scrolling-active .nav-host:hover,
.scrolling-active .explor-icon:hover {
  background-color: rgba(65, 64, 64, 0.055) !important;
}

.scrolling-active .nav-list {
  display: none !important;
}

.scrolly-nav {
  z-index: 10;
  max-width: 848px;
  height: 66px;
  border: 1px solid #dddddd !important;
  border-radius: 32px !important;
  color: #222222 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative !important;
  top: 80px !important;
  -webkit-box-shadow: 0px 16px 32px #00000033, 0px 3px 8px #00000033;
          box-shadow: 0px 16px 32px #00000033, 0px 3px 8px #00000033;
  --big-search-form-background: #ffffff;
  background-color: #f7f7f7;
  margin: 0 auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.scrolly-nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.scrolly-nav div .scrolly-sec {
  width: 100%;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  text-align: left !important;
  background-color: transparent;
  padding-left: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.scrolly-nav div .scrolly-sec p {
  text-align: left !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: left;
      align-self: left;
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 800 !important;
  letter-spacing: 0.04em !important;
  padding-bottom: 2px !important;
}

.scrolly-nav div .scrolly-sec input {
  border: none;
  outline: none;
  background-color: transparent;
}

.scrolly-nav div .scrolly-sec input input::-webkit-input-placeholder {
  display: block !important;
  width: 100% !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  color: #222222 !important;
  text-overflow: ellipsis !important;
}

.scrolly-nav div .scrolly-sec input input:-ms-input-placeholder {
  display: block !important;
  width: 100% !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  color: #222222 !important;
  text-overflow: ellipsis !important;
}

.scrolly-nav div .scrolly-sec input input::-ms-input-placeholder {
  display: block !important;
  width: 100% !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  color: #222222 !important;
  text-overflow: ellipsis !important;
}

.scrolly-nav div .scrolly-sec input input::placeholder {
  display: block !important;
  width: 100% !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  color: #222222 !important;
  text-overflow: ellipsis !important;
}

.scrolly-nav .location {
  width: 27%;
  padding-left: 5px;
}

.scrolly-nav .location:hover {
  background-color: #e2e2e2;
  cursor: pointer;
  border-radius: 32px !important;
}

.scrolly-nav .showLocationBTN {
  border-radius: 30px !important;
  -webkit-box-shadow: 1px 1px 18px 1px #0d0d0d66 !important;
          box-shadow: 1px 1px 18px 1px #0d0d0d66 !important;
  z-index: 15 !important;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}

.scrolly-nav .showLocationBTN:hover {
  background-color: #ffffff !important;
}

.scrolly-nav .checkin {
  width: 23%;
}

.scrolly-nav .checkin .scrolly-sec {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}

.scrolly-nav .guestsSEC .guests-appear,
.scrolly-nav .checkinSEC,
.scrolly-nav .checkoutSEC {
  margin-right: 30px;
}

.scrolly-nav .checkinSEC .scrolly-sec {
  border-left: none !important;
}

.scrolly-nav .checkin:hover {
  background-color: #e2e2e2;
  cursor: pointer;
  border-radius: 32px !important;
}

.scrolly-nav .checkout {
  width: 23%;
}

.scrolly-nav .checkout .scrolly-sec {
  border-right: 1px solid #e2e2e2;
}

.scrolly-nav .checkout:hover {
  background-color: #e2e2e2;
  cursor: pointer;
  border-radius: 32px !important;
}

.scrolly-nav .guests {
  width: 27%;
}

.scrolly-nav .guests .scrolly-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrolly-nav .guests .scrolly-sec .guests-appear {
  display: none;
}

.scrolly-nav .guests .scrolly-sec .guests-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scrolly-nav .guests .guestsSEC .scrolly-sec {
  margin-right: 30px;
}

.scrolly-nav .guests .serach-icon {
  width: 48px;
  height: 48px;
  background-color: #ff385c;
  border-radius: 50%;
}

.scrolly-nav .guests .disapear {
  display: none;
}

.scrolly-nav .checkinG,
.scrolly-nav .checkoutG,
.scrolly-nav .locationG {
  margin-right: 30px;
}

.scrolly-nav .serachShow,
.scrolly-nav .serachShowG {
  width: 111.75px !important;
  -webkit-transition: opacity 1.25s ease 0s !important;
  transition: opacity 1.25s ease 0s !important;
  border-radius: 25px !important;
  padding: 0 20px !important;
  margin-right: 10px !important;
  background-image: radial-gradient(circle at center center, #ff385c 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%) !important;
}

.scrolly-nav .serachShow .disapear,
.scrolly-nav .serachShowG .disapear {
  display: block;
  color: #fff;
  padding-left: 10px;
  line-height: 48px;
}

.scrolly-nav .showGuestBTN {
  border-radius: 30px !important;
  -webkit-box-shadow: 1px 1px 18px 1px #0d0d0d66 !important;
          box-shadow: 1px 1px 18px 1px #0d0d0d66 !important;
  z-index: 15 !important;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  cursor: pointer;
}

.scrolly-nav .showGuestBTN:hover {
  background-color: #ffffff !important;
}

.scrolly-nav .guests:hover {
  background-color: #e2e2e2;
  cursor: pointer;
  border-radius: 32px !important;
}

.scrolly-nav .guestsDD {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 394px;
  height: 243px;
  background-color: #fff;
  border-radius: 30px;
  -webkit-box-shadow: 0px 6px 16px #00000021 !important;
          box-shadow: 0px 6px 16px #00000021 !important;
  position: absolute;
  top: 78px !important;
  right: 2px;
}

.scrolly-nav .guestsDD .guestsDDcountainer {
  width: 330px;
  height: 213px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scrolly-nav .guestsDD .guestsDDcountainer .gustsAllSEC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  height: 71px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scrolly-nav .guestsDD .guestsDDcountainer .gustsAllSEC .guestsDDtxt {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scrolly-nav .guestsDD .guestsDDcountainer .gustsAllSEC .guestsDDtxt h3 {
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 600 !important;
}

.scrolly-nav .guestsDD .guestsDDcountainer .gustsAllSEC .guestsDDtxt span {
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 400 !important;
  color: #717171 !important;
}

.scrolly-nav .guestsDD .guestsDDcountainer .gustsAllSEC .guestsCon {
  width: 104px !important;
  height: 32px;
}

.scrolly-nav .guestsDD .guestsDDcountainer .gustsAllSEC .guestsCon button {
  width: 32px !important;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  border-color: #b0b0b0 !important;
  color: #717171 !important;
  font-family: inherit !important;
}

.scrolly-nav .guestsDD .guestsDDcountainer .gustsAllSEC .guestsCon .forbiddenIcon {
  cursor: not-allowed !important;
  color: #ebebeb !important;
  border-color: #ebebeb !important;
  background: white !important;
}

.scrolly-nav .guestsDD .guestsDDcountainer .gustsAllSEC .guestsCon .forbiddenIcon:hover {
  cursor: not-allowed !important;
  color: #ebebeb !important;
  border-color: #ebebeb !important;
  background: white !important;
}

.scrolly-nav .guestsDD .guestsDDcountainer .gustsAllSEC .guestsCon button:hover {
  color: #222222;
  border-color: #222222;
  background: white;
  cursor: pointer;
}

.scrolly-nav .guestsDD .guestsDDcountainer .gustsAllSEC .guestsCon .num {
  max-width: 16px;
  height: 32px;
  margin: 0 5px;
}

.scrolly-nav .guestsDD .guestsDDcountainer .adultSec {
  border-bottom: 1px solid #e6e6e6;
}

.scrolly-nav .guestsDD .guestsDDcountainer .childrenSec {
  border-bottom: 1px solid #e6e6e6;
}

.scrolly-nav .checkoutSECBRD .scrolly-sec {
  border-right: none;
}

.scrolly-nav .guedtsDDshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scrolly-nav .locationDD {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white !important;
  z-index: 15 !important;
  width: 500px !important;
  height: 160px !important;
  position: absolute !important;
  top: 78px !important;
  left: 2px;
  border-radius: 30px !important;
  -webkit-box-shadow: 0px 6px 16px #00000021 !important;
          box-shadow: 0px 6px 16px #00000021 !important;
}

.scrolly-nav .locationDD .locationDD-txt {
  width: 436px !important;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 12px !important;
  line-height: 12px !important;
  font-weight: 800 !important;
  margin-bottom: 10px;
}

.scrolly-nav .locationDD .locationDD-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 6px 16px #00000021 !important;
          box-shadow: 0px 6px 16px #00000021 !important;
  width: 436px;
  height: 58px;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
  padding: 0 15px;
}

.scrolly-nav .locationDD .locationDD-flex .LDD-F-txt {
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 18px !important;
  line-height: 20px !important;
  font-weight: 800 !important;
  color: #222222 !important;
  max-height: 120px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 6 !important;
  -webkit-text-fill-color: transparent !important;
  background: -webkit-gradient(linear, left top, right top, from(#6f019c), color-stop(135.12%, #c6017e)) !important;
  background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%) !important;
  -webkit-background-clip: text !important;
}

.scrolly-nav .locationDD .locationDD-flex .locationDD-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.scrolly-nav .showLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scrolly-short {
  width: 300px !important;
  height: 48px;
  z-index: 12 !important;
  position: fixed !important;
  top: 18px !important;
  right: 40vw;
  -webkit-box-shadow: 0px 0px 4px 0.1px #0000001f !important;
          box-shadow: 0px 0px 4px 0.1px #0000001f !important;
}

.scrolly-short .scrolly-nav {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.scrolly-short .location {
  display: none;
}

.scrolly-short .checkin {
  display: none;
}

.scrolly-short .checkout {
  display: none;
}

.scrolly-short .guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.1% 2%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.scrolly-short .guests:hover {
  background-color: #fff;
}

.scrolly-short .serach-icon {
  width: 32px !important;
  height: 32px !important;
}

.scrolly-short .guests-txt {
  display: none !important;
}

.scrolly-short .guests-appear {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  padding: 0 16px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.hero-img-holder {
  width: 100;
  min-height: 620px;
  z-index: 0;
}

.hero-img-holder .hero-img {
  background-image: url("../img/hero-min950.webp");
  width: 100vw;
  height: 130vw;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -66px;
  overflow-x: hidden;
}

.hero-img-holder .hero-img .hero-txt {
  margin-top: 40vh;
  max-width: 500px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hero-img-holder .hero-img .hero-txt h3 {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.hero-img-holder .hero-img .hero-txt .hero-btn {
  -webkit-box-shadow: 0px 6px 16px #00000021 !important;
          box-shadow: 0px 6px 16px #00000021 !important;
  transition: box-shadow 0.2s ease-out, -webkit-transform 0.2s ease-out, transform 0.2s ease-out !important;
  cursor: pointer;
  margin: 16px auto 0;
  max-width: 500px;
  height: 64px;
  width: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 54px;
}

.hero-img-holder .hero-img .hero-txt .hero-btn p {
  font-size: 18px;
  font-weight: 600;
  -webkit-text-fill-color: transparent !important;
  background: -webkit-gradient(linear, left top, right top, from(#6f019c), color-stop(135.12%, #c6017e)) !important;
  background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%) !important;
  -webkit-background-clip: text !important;
}

.hero-img-holder .hero-img .hero-txt .hero-btn:active {
  -webkit-transform: scale(0.96) !important;
          transform: scale(0.96) !important;
}

@media (min-width: 320px) {
  .hero-img-holder .hero-img {
    background-image: url(../img/hero-max744.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
  }
}

@media (min-width: 744px) {
  .hero-img-holder .hero-img {
    background-image: url("../img/hero-min-744.webp");
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vw;
  }
}

@media (min-width: 950px) {
  .hero-img-holder .hero-img {
    background-image: url("../img/hero-min950.webp");
    background-position: center bottom !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    height: Max(550px, Min(85vh, 55vw)) !important;
  }
}

.container__main {
<<<<<<< HEAD
  max-width: 1550px;
=======
  max-width: 1360px;
  margin-top: 2rem !important;
>>>>>>> master
  margin: 0 auto;
  padding: 0 40px;
}

.container__main .explore-nearby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
}

.container__main .explore-nearby .explore-content {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2] !important;
      grid-template-rows: repeat(2, 1fr) !important;
  gap: 15px 40px;
}

.container__main .explore-nearby .explore-content .explor-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__main .explore-nearby .explore-content .explor-item h3 {
  font-size: 16px !important;
  line-height: 20px !important;
  color: #222222 !important;
}

.container__main .explore-nearby .explore-content .explor-item p {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.container__main .explore-nearby .explore-content .explor-item img {
  border-radius: 10px;
  width: 64px;
  height: 64px;
  margin-right: 20px;
}

@media only screen and (min-width: 744px) and (max-width: 1127px) {
  .explore-content {
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
    margin: 0 30px;
  }
  .explore-item4 {
    display: none !important;
  }
  .explore-item6 {
    display: none !important;
  }
}

@media only screen and (max-width: 744px) {
  .explore-content {
    margin-top: 20px !important;
    -ms-scroll-snap-type: x mandatory !important;
        scroll-snap-type: x mandatory !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll !important;
    overflow-x: auto !important;
    display: -ms-grid !important;
    display: grid !important;
    gap: 12px !important;
    -ms-grid-columns: (calc(100% - 108px))[calc] 100% !important;
        grid-template-columns: repeat(calc(3), calc(100% - 108px)) 100% !important;
    grid-auto-flow: column !important;
    scroll-snap-type: x mandatory !important;
    -ms-grid-rows: (auto)[2] !important;
        grid-template-rows: repeat(2, auto) !important;
  }
  .explor-item {
    min-width: 0px !important;
    height: 100% !important;
    scroll-snap-align: start;
    position: relative;
    padding: 0 15px;
    width: 150px !important;
  }
  .explore-item4 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .explore-item6 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding-bottom: 10px;
  }
}

.slider__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 50px;
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__container > div {
  /* make sure the width is honored */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  height: 300px;
  max-width: 100%;
  height: 100%;
}

.slider__container img {
  border-radius: 16px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 1440px) {
  .slider__container {
    padding-left: 20px;
    padding-right: 10px;
  }
  .slider__container > div {
    margin-right: 14px;
  }
  .live-anywhere.mobile .slider__title {
    padding-left: 24px;
  }
}

.slider__5 {
  position: relative;
}

@media screen and (min-width: 744px) and (max-width: 1128px) {
  .cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cols p {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .tablet {
    position: relative;
    margin: 0;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .swiper-slide img {
    border-radius: 16px;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-card {
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-points-x: repeat(300px);
        scroll-snap-points-x: repeat(300px);
    -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
  }
  .slider-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-points-x: repeat(300px);
        scroll-snap-points-x: repeat(300px);
    -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
    position: relative;
  }
  .slider-arrow .main-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .arrow button {
    background-color: white;
    border: none;
    border-radius: 50%;
    -ms-touch-action: manipulation !important;
        touch-action: manipulation !important;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  .card .img img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
  .slider-arrow .main-card .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider-arrow .cards .card {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: none !important;
  }
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: none !important;
  }
  .hide {
    display: none;
  }
  .active {
    display: block;
  }
}

@media screen and (min-width: 744px) and (max-width: 769px) {
  .live-anywhere .slider__1 {
    display: none;
  }
  .slider__2 {
    display: block;
  }
}

@media (min-width: 1440px) {
  .slider__title {
    font-size: 32px;
    margin-bottom: 2rem;
  }
}

.slider__footer {
  font-size: 18px !important;
  line-height: 22px !important;
  font-weight: 600;
}

.slider__3 {
  display: -webkit-box;
}

.slider__3 img {
  border-radius: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
}

@media (min-width: 1128px) {
  .live-anywhere .slider__3 > div {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
  }
}

@media (max-width: 1128px) {
  .live-anywhere.desktop .slider__title {
    display: none !important;
  }
}

.tablet {
  display: none;
}

@media screen and (min-width: 744px) and (max-width: 1128px) {
  .tablet {
    display: block !important;
  }
  .live-anywhere .slider__3-desktop {
    display: none;
  }
  .live-anywhere .slider__3 > div {
    width: 100% !important;
  }
}

@media (min-width: 744px) {
  .live-anywhere.mobile .slider__title {
    display: none !important;
  }
  .slider__3-mobile {
    display: none !important;
  }
  .slider__3 > div {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }
  .adv-woman-responsive {
    display: none;
  }
  .slider__3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.horizental-scroll {
  overflow-x: auto;
  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-points-x: repeat(300px);
      scroll-snap-points-x: repeat(300px);
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  transition: box-shadow 0.2s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

@media (max-width: 744px) {
  .slider__3-desktop {
    display: none;
  }
  .slider__3 > div {
    width: 272px;
    margin-right: 12px;
  }
  .slider__3 {
    padding: 4px 24px 8px;
  }
  .adv-woman {
    display: none;
  }
  .adv-woman-responsive {
    position: relative;
  }
  .adv-woman-responsive img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
  }
  .adv-woman-responsive .content1 {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 32px;
    text-align: center;
    color: white;
  }
  .adv-woman-responsive .content1 h2 {
    font-size: 30px !important;
    line-height: 36px !important;
  }
  .adv-woman-responsive .content1 div {
    margin-top: 10px;
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .adv-woman-responsive .content1 button {
    margin-top: 10px;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 500;
    padding: 9px 16px !important;
    border-radius: 10px;
    outline: none;
    border: none;
  }
}

@media (max-width: 1231px) {
  .adv-woman img {
    height: 480px !important;
  }
}

@media (max-width: 950px) {
  .adv-woman img {
    height: 320px !important;
  }
}

@media (max-width: 1111px) {
  .adv-woman .content h2 {
    font-size: 30px !important;
    line-height: 36px !important;
  }
  .adv-woman .content div {
    margin-top: 10px;
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .adv-woman .content button {
    margin-top: 10px;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 500;
    padding: 9px 16px !important;
    border-radius: 10px;
    outline: none;
    border: none;
  }
}

.adv-woman {
  margin-top: 3rem;
  overflow: hidden;
  position: relative;
}

.adv-woman img {
  width: 100%;
  height: 420px;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.adv-woman .content {
  padding-left: 80px !important;
  padding-right: 80px !important;
  width: 544px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center !important;
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
      align-items: flex-start !important;
  height: 100% !important;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  color: white;
}

.adv-woman .content h2 {
  font-size: 3rem;
}

.adv-woman .content div {
  font-size: 18px !important;
  line-height: 24px !important;
  line-break: strict;
  display: block;
  white-space: pre-line !important;
}

.adv-woman .content div span {
  white-space: pre-line !important;
}

.adv-woman .content button {
  margin-top: 40px;
  font-size: 16px !important;
  line-height: 18px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 400;
  padding: 14px 24px !important;
  border-radius: 10px;
  outline: none;
  border: none;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-weight: normal;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-aa38e86e3f98554f9f7053d7b713b4db.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-weight: 600;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-4bc8dafd2e0fd8914bf4d5edce9acd24.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2") format("woff2"), url("/fonts/Airbnb_Cereal-Bold-a188841af78481a25b7bb2316a5f5716.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0400-04FF;
  font-weight: normal;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Cyrillic-Book-e02d5d2c18cb1adb5f60fba73ec84b85.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Cyrillic-Book-c2fc5b3551254c57abcddb6ae3846011.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0400-04FF;
  font-weight: 600;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Cyrillic-Medium-f0e661ba5740e054d7c1faad5984c994.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Cyrillic-Medium-4e2e45a7189b6b9cf46bb33f5fe04c09.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0400-04FF;
  font-weight: 800;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Cyrillic-Bold-b218e811576428a4ca3d2f9e1b00b734.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Cyrillic-Bold-82361954a2330f09187cfbccc2641ce9.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0590-05FF, U+FB00-FB4F;
  font-weight: normal;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Hebrew-Book-bfb9bf9044f18924e522d3e6076a47b3.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Hebrew-Book-892a3f9af9d7160255f294e56b3462f3.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0590-05FF, U+FB00-FB4F;
  font-weight: 600;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Hebrew-Medium-a9d129489532402b6c34cd92039341ef.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Hebrew-Medium-640ac52058359cd8dd430d9ad7d9c29e.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0590-05FF, U+FB00-FB4F;
  font-weight: 800;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Hebrew-Bold-f5ec4bf512fae9f82edd69290cef53ff.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Hebrew-Bold-2825ca14347a2d0c257c0306165f448e.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0600-06FF, U+0750-077F;
  font-weight: normal;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Arabic-Book-a3069642fff439a4487060181f843c27.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Arabic-Book-6de797f6b9ddbf3ce640d1318a77d85e.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0600-06FF, U+0750-077F;
  font-weight: 600;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Arabic-Medium-726e07fb1271351070ed63c892598211.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Arabic-Medium-0ad3304a4ceb8b4ba992872376c6fee2.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+0600-06FF, U+0750-077F;
  font-weight: 800;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Arabic-Bold-9129550a5028e0f85441bf1bbfacc1e4.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/cereal-beta-v1/Airbnb_Cereal-Arabic-Bold-16ec9f0279388cccbedb6a1d95ac4d9d.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+F0000-FFFFD;
  font-weight: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-368a4dfb2060306905d934709d7356f8.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-e0adf0d9735aee379296283c36fa3840.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+F0000-FFFFD;
  font-weight: 600;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-368a4dfb2060306905d934709d7356f8.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-e0adf0d9735aee379296283c36fa3840.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  unicode-range: U+F0000-FFFFD;
  font-weight: 800;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-368a4dfb2060306905d934709d7356f8.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-e0adf0d9735aee379296283c36fa3840.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  font-weight: normal;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Book-aa38e86e3f98554f9f7053d7b713b4db.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  font-weight: 600;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Medium-4bc8dafd2e0fd8914bf4d5edce9acd24.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Circular;
  font-weight: 800;
  font-style: normal;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/Airbnb_Cereal-Bold-a188841af78481a25b7bb2316a5f5716.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Airmoji_Standalone;
  src: url("/airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-368a4dfb2060306905d934709d7356f8.woff2") format("woff2"), url("/airbnb/static/airbnb-dls-web/build/fonts/airmojix-Regular-e0adf0d9735aee379296283c36fa3840.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Airglyphs;
  src: url("/airbnb/static/airbnb-o2/fonts/airglyphs-be20c9b0c13510b6107aebbce24dd022.woff") format("woff"), url("/airbnb/static/airbnb-o2/fonts/airglyphs-fc011caafdf66b9fee9518f73cf0a97d.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=style.css.map */